:root {
    --background-color: #222;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --form-text-color: #fff;
    --button-shadow: #00000080;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1,
h2,
h3,
p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,
h3,
p,
input,
textarea {
    font-family: Roboto Mono, monospace;
}

h1,
h2 {
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 20px;
}

h1,
.button {
    background: linear-gradient(to right, darkviolet, crimson);
}

input,
textarea,
button,
.projects img {
    border-radius: 20px;
}

h1 {
    font-family: Rubik, sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    background-clip: text;
    color: transparent;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.button {
    cursor: pointer;
    color: var(--btn-text-color);
    border: none;
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 4px var(--button-shadow);
    transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
}

.button:hover,
.projects a:hover {
    transform: scale(1.05);
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px var(--button-shadow);
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
}

.me span {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.desc {
    max-width: 30ch;
    text-align: center;
    margin: 0 auto;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea,
input:not([type=submit]) {
    height: 50px;
    padding-left: 16px;
    width: 250px;
}

textarea {
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input,
textarea {
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
}

::placeholder {
    color: var(--form-text-color);
}

input[type=submit] {
    margin: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects img {
    max-height: 140px;
}

.projects a {
    width: fit-content;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills div {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 40px;
    min-width: 260px;
    max-width: 26ch;
}

hr {
    width: 100px;
    height: 1px;
    border: none;
    background-color: var(--text-color);
    margin: 30px auto;
}

@media (width >=800px) {
    main {
        gap: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2,
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    .title {
        margin-bottom: 60px;
    }

    .me {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .me .photo {
        width: 350px;
        height: 350px;
    }

    textarea,
    input:not([type=submit]) {
        width: 600px;
        font-size: 20px;
    }

    form {
        gap: 40px;
    }

    .projects div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .skills div {
        max-width: fit-content;
        gap: 30px;
    }

    hr {
        width: 300px;
    }
}

@media (width >=1400px) {
    main {
        gap: 200px;
    }

    h1 {
        font-size: 48px;
    }

    .title {
        margin-bottom: 75px;
    }

    .me .photo {
        width: 400px;
        height: 400px;
    }

    textarea,
    input:not([type=submit]) {
        width: 800px;
    }
}